<div ng-repeat="comment in post.comments" class="comment" data-comment-id="{{comment.id}}">
    <div class="poster-info">
        <span class="poster">{{comment.author}}</span>
        <span class="action">commented on </span>
        <span class="time">{{formatTimestamp(comment.timestamp)}}</span>
    </div>
    <div class="post-body">{{comment.text}}</div>
    <div class="post-actions">
        <a ng-click="likeComment(comment.id, post.id)" class="glyphicon glyphicon-thumbs-up lnk-like-comment" data-comment-id="{{comment.id}}">({{comment.likes}})</a>  
    </div>
</div>
