<div ng-repeat="post in user.posts" class="post" data-post-id="{{post.id}}">
    <div class="poster-info">
        <span class="poster">{{post.author}}</span>
        <span class="action">escreveu em </span>
        <span class="time">{{formatTimestamp(post.timestamp)}}</span>
    </div>
    <div class="post-body">{{post.text}}</div>
    <div class="post-actions">
        <a ng-click="likePost(post.id)" class="glyphicon glyphicon-thumbs-up lnk-like-post" data-post-id="{{post.id}}">({{post.likes}})</a>
        <span class="glyphicon glyphicon-comment lnk-comment" data-post-id="{{post.id}}">({{post.commentsCount}})</span>
    </div>

    <div class="comment-form" data-post-to-comment-id="{{post.id}}">
        <div class="action">Deixe seu comentário</div>
        <textarea ng-model="formCommentContent" class="txt"></textarea>
        <div class="pull-right">
            <button ng-click="makeComment(post.id)" class="btn btn-info btn-sm glyphicon glyphicon-ok btn-commentar"> Enviar</button>
            <button class="btn btn-info btn-sm glyphicon glyphicon-remove lnk-cancel-comment" data-post-id="{{post.id}}"> Cancelar</button>
        </div>
    </div>

    <div ng-include="'includes/comments.html'" class="post-comments"></div>
</div>
