body {
      background-color: rgb(245, 245, 245);
      overflow-y: scroll;
  }
   
  #frm-join {
      color: #fff;
  }
   
  #log {
      font-size: 25px;
      text-align: center;
      color: red;
  }
   
  .post {
      border-bottom: 1px solid #aaa;
      margin-top: 25px;
  }
   
  .poster-info {
      font-size: 120%;
      margin-bottom: 5px;
      padding: 5px;
  }
   
  .poster {
      color: #2aabd2;
      font-weight: bold;
  }
   
  .post-body {
      min-height: 30px;
      color: #555;
      padding: 5px;
  }
   
  .post-actions {
      text-align: left;
      padding: 10px;
  }
   
  .post-comments {
      border-top: 1px dotted #bbb;
  }
   
  .comment {
      font-size: 90%;
      padding-left: 20px;
  }
   
  .post-form, .comment-form {
      overflow: auto;
      padding: 10px;
      background-color: rgb(235, 235, 235);
      border-radius: 5px;
  }
   
  .post-form {
      font-size: 150%;
      background-color: rgb(220, 220, 220);
  }
   
  .txt {
      width: 100%;
      height: 75px;
      border: none;
      border-radius: 5px;
      margin-bottom: 10px;
  }
   
  .online-users {
      list-style-type: none;
      font-size: 130%;
      color: #555;
  }
   
  a {
      text-decoration: none !important;
      cursor: pointer;
  }
  