<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>MEANBook</title>
        <meta name="description" content="MEANBook NodeJS Example">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css"/>
        <link rel="stylesheet" href="styles/main.css" />
    </head>
    <body>
        <div ng-app="mainApp" ng-controller="meanBookController" class="container">
            <nav class="navbar navbar-inverse" role="navigation">
                <div class="navbar-header">
                    <span class="navbar-brand">MEANBook</span>
                </div>
 
                <form name="formUser" novalidate>
                    <div ng-show="!user.loggedIn()" id="frm-join" class="navbar-form navbar-right">
                      <div class="form-group">
                        <input ng-model="formUserUsername" id="username" type="text" maxlength="10" class="form-control input-sm" placeholder="Digite seu nome"></input>
                      </div>
                      <button ng-click="login()" id="btn-entrar" type="button" class="btn btn-info input-sm">Entrar</button>
                    </div>
                    <div ng-show="user.loggedIn()" id="frm-join" class="navbar-form navbar-right">
                      <button ng-click="logout()" id="btn-sair" type="button" class="btn btn-warning input-sm">Sair</button>
                    </div>
                </form>
            </nav>
 
            <div class="row">
                <div ng-show="user.loggedIn()" class="col-md-3">
                    <h3>Quem está online</h3>
                    <div ng-include="'includes/userlist.html'"></div>
                </div>
                <div class="col-md-9">
                    <div ng-show="!user.loggedIn()" id="not-logged">
                        <h2>Você precisa se conectar</h2>
                        <h3>Digite seu nome e clique em "Entrar"</h3>
                    </div>
 
                    <div ng-show="user.loggedIn()" id="logged">
                        <form name="formPosts" novalidate>
                            <div class="post-form">
                                <div class="action">O que você tem em mente?</div>
                                <textarea ng-model="formPostContent" id="post-content" class="txt"></textarea>
                                <div class="pull-right">
                                    <button ng-click="makePost()" id="btn-postar" class="btn btn-info glyphicon glyphicon-ok"> Enviar</button>
                                </div>
                            </div>
                            <div class="post">Você escreveu {{user.posts.length}} mentalizações.</div>
                            <div ng-include="'includes/posts.html'" class="posts"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <script src="bower_components/requirejs/require.js" data-main="scripts/main"></script>
    </body>
</html>
