<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>MEANBook</title>
        <meta name="description" content="MEANBook NodeJS Example">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css"/>
        <link rel="stylesheet" href="styles/main.css" />
        <script src="bower_components/requirejs/require.js" data-main="scripts/main"></script>
    </head>
    <body>
        <div ng-controller="meanBookController" class="container">
            <nav class="navbar navbar-inverse" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mb-main-menu" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <span class="navbar-brand">MEAN Book</span>
                    </div>
                    <div class="collapse navbar-collapse" id="mb-main-menu">
                        <ul ng-show="user.loggedIn()" ng-cloak class="nav navbar-nav navbar-right">
                            <li class="active">
                                <a ng-click="switchTimeline(user.username)" id="btn-home">
                                    <span class="glyphicon glyphicon-home" aria-hidden="true"></span> {{user.username}}
                                </a>
                            </li>
                            <li class="active">
                                <a ng-click="logout()" id="btn-logout">
                                    <span class="glyphicon glyphicon-off" aria-hidden="true"></span> Logout
                                </a>
                            </li>
                        </ul>
                        <form ng-show="!user.loggedIn()" ng-cloak name="formUser" novalidate class="navbar-form navbar-right">
                            <div class="form-group">
                                <input ng-model="formUserUsername" id="username" type="text" maxlength="25" class="input-sm" placeholder="Your username..."></input>
                                <span style="margin: 3px;" />
                                <button ng-click="login()" id="btn-signin" type="button" class="btn btn-info btn-sm">Sign in</button>
                            </div>
                        </form>
                    </div>
                </div>
            </nav>
            <div ng-include="'includes/messages.html'" class="row col-md-12"></div>
            <div class="row">
                <div ng-show="user.loggedIn()" ng-cloak class="col-md-3">
                    <h3>Who is online?</h3>
                    <div ng-include="'includes/userlist.html'"></div>
                </div>
                <div class="col-md-9">
                    <div ng-show="!user.loggedIn()" ng-cloak id="not-logged">
                        <h2>You need to connect.</h2>
                        <h3>Enter your username and click on "Sign in"</h3>
                    </div>
 
                    <div ng-show="user.loggedIn()" ng-cloak id="logged">
                        <form name="formPosts" novalidate>
                            <div ng-show="timeline.isCurrentUser()" ng-cloak class="post-form">
                                <div class="action">What you thinking now to publish?</div>
                                <textarea ng-model="formPostContent" id="post-content" class="txt" placeholder="Write you think..."></textarea>
                                <div class="pull-right">
                                    <button ng-click="makePost()" id="btn-publish" class="btn btn-info">
                                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Publish
                                    </button>
                                </div>
                            </div>
                            <div class="post">{{timeline.username}} wrote {{timeline.posts.length}} posts.</div>
                            <div ng-include="'includes/posts.html'" class="posts"></div>
                        </form>
                    </div>
                </div>  
            </div>
        </div>
    </body>
</html>
